/*报警数据显示背景色
高报:蓝色*/
.fontblue {
	color: blue;
}


/*高高报:红色*/
.fontred {
	color: red;
}


/*低报:紫色*/
.fontviolet {
	color: darkviolet;
}


/*低低报:绿色*/
.fontgreen {
	color: green;
}

/*确认报警按钮样式*/
.btn1 {
	padding: 3px 7px;
}

.rowcolor {
	width: 100%;
	overflow: auto;
	margin-top: 5px;
}



/*iphone5*/
/*横屏*/

@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
	.rowcolor {
		width: 568px;
	}
}

@media screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
	.rowcolor {
		width: 320px;
	}
	.portlet-title {
		width: 320px;
	}
}


/*iphone6 6s*/
/*横屏*/
@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
	.rowcolor {
		width: 667px;
	}
}

@media screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
	.rowcolor {
		width: 375px;
	}
	.portlet-title {
		width: 375px;
	}
}


/*iphone 6 Plus, 6s Plus*/
/*横屏*/
@media screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
	.rowcolor {
		width: 736px;
	}
}

@media screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
	.rowcolor {
		width: 414px;
	}
	.portlet-title {
		width: 414px;
	}
}