.shadow {
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 1px;
}


/*趋势*/

.rhTrendleft {
	border: 1px solid #e7ecf1;
	/*border-bottom:1px solid #e7ecf1;*/
	margin-left: 1%;
	/* overflow: auto;*/
	background: #fff;
	float: left;
}


/*.rhTrendleft table tr td {
	white-space:nowrap;
}*/

#myTreedInfo .modal-dialog,.modal-dialog1 {
	width: 1000px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 568px) {
	#myTreedInfo .modal-dialog, .modal-dialog1 {
		width: 94%;
	}
		.modal-body1 {
		padding: 5px;
	}
	.modal-footer1 {
		padding: 5px;
	}
	.modal-header1 {
		padding: 5px;
	}
}

.div1 .portlet-body {
	overflow: auto;
}



.modal-body1 {
	padding: 10px;
}

.modal-footer1 {
	padding: 8px;
}

.modal-header1 {
	padding: 8px;
}


@media screen and (min-device-width: 375px) and (max-device-width: 667px)  {
		#myTreedInfo .modal-dialog, .modal-dialog1 {
		width: 94%;
	}
		.modal-body1 {
		padding: 5px;
	}
	.modal-footer1 {
		padding: 5px;
	}
	.modal-header1 {
		padding: 5px;
	}
}


@media screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
		#myTreedInfo .modal-dialog, .modal-dialog1 {
		width: 94%;
	}
		.modal-body1 {
		padding: 5px;
	}
	.modal-footer1 {
		padding: 5px;
	}
	.modal-header1 {
		padding: 5px;
	}
	
}

body,
tbody {
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}


/*长时间按住页面出现闪退*/

element {
	-webkit-touch-callout: none;
}

.div1 .portlet-body {
	overflow: auto;
	-webkit-touch-callout: none;
}


/*.rhTrendleft{
	 	width: 98%;
	 }*/

.portlet {
	margin-bottom: 0px;
}

.rhTrendleftTitle {
	background-color: #EDF1F5;
	-webkit-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-ms-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	min-height: 41px;
}

.rhTrendleftTitle .actions {
	padding-top: 5px;
}

.rhTrendleft .container-fluid {
	margin-left: 10%;
	padding-left: 10%;
}

.rhTrendleft .row {
	margin-left: 0px;
}

.rhTrendleft .portlet.box>.portlet-body {
	padding: 5px;
}

.table-scrollable {
	width: 100%;
	overflow: auto;
	border: 0;
}

.rhTrendright {
	width: 100%;
	margin-top: 0;
	float: left;
}

.rhTrendright_right {
	width: 15%;
	margin-top: 0;
	float: left;
	border: 1px solid #e7ecf1;
}

.rhTrendright_right_top {
	overflow-x: auto;
}
.rhTrendright_bottom
 {
	
	overflow: auto;
}
.rhTrendright_top,
.rhTrendright_middle,
.rhTrendright_bottom,
.rhTrendright_top_top {
	border: 1px solid #e7ecf1;
	margin-top: -10px;
	/*//overflow: auto;*/
}


/*.rhTrendright_middle,*/


.rhTrendright_top_top .row {
	padding: 3px 0;
}

.rhTrendright .form-group {
	margin-bottom: 0;
}

.rhTrendright input,
.rhTrendright #input_strokegrouplist {
	border-radius: 5px;
	height: 28px;
	outline: none;
	border: 1px solid #ccc;
	width: 200px;
}

.rhTrendright_middle,
.rhTrendright_bottom {
	border-top: 0px;
}

.portlet-margin {
	padding-top: 15px;
	background-color: #fff;
}

.col-md-3 {
	margin-left: -12px;
}



/*全屏显示时 top边框*/

.topboder {
	border-top: 1px solid #e7ecf1;
}

table.dataTable1 tbody td{
	padding: 6px 18px;
}
table.dataTable1 tbody tr{
	height: 30px;
}
.rhTrendright_bottom thead tr{
	background-color: #EDF1F5;
}
#myTreedInfo .modal-dialog{
	width: 1000px;
}
.ExeOut{
	text-align: right;
}
/*.demo { position: relative; }
      .demo i {
        position: absolute; bottom: 10px; right: 24px; top: auto; cursor: pointer;
      }*/
